A watched feature was triggered in application `<%= @application %> on host `<%=@host_name%> 

Context   : <%= @context %>
Feature   : <%= @feature %>

Arguments :               
<%= @args %>

- Your Mole

This message was generated automatically. Please do not respond directly.