Performance issue found in application `<%= @application %> on host `<%= @host_name %> 

Content       : <%= @context %>
Feature       : <%= @feature %>
Response Time : <%= @elapsed_time%>
    
Arguments :               
<%= @args %>

- Your Mole

This message was generated automatically. Please do not respond directly.